@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@font-face{
    font-family: "FunnelSans";
    src:local("FunnelSans"),
    url('src/assets/fonts/FunnelSans-VariableFont_wght.ttf');
}

@theme {
    --font-sans: "FunnelSans";
}



